altair==4.2.0
amqp==5.1.1
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
cachetools==5.2.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.6.0
Flask==2.0.2
fonttools==4.33.3
gitdb==4.0.9
GitPython==3.1.29
jupyterlab==3.3.3
jupyterlab-pygments==0.2.0
jupyterlab-server==2.12.0
kit==0.2.15
kiwisolver==1.4.2
kombu==5.2.4
language==0.6
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
met==1.0.2
mistune==0.8.4
natural==0.2.0
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
notebook==6.4.10
notebook-shim==0.1.0
numpy==1.22.3
packaging==21.3
greenlet==1.1.2
idna==3.3
jupyter-client==7.2.2
jupyter-core==4.9.2
jupyter-server==1.16.0
